/* Styling for the main element */
main {
    width: 150px;
    height: 150px;
    background-color: #000000; /* Black */
}

/* Styling for the paragraph element */
.hello-accio {
    color: #ffffff; /* White */
    margin-left: 32px; /* Left margin */
    padding: 10px; /* Padding on all sides */
}
